<a href="https://colab.research.google.com/github/AbdullahRazzaq-FASTian/AI-Lab-Tasks/blob/main/Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Task 1
print("Hello World")

Hello World

In [ ]:
# Task 2
a = 2
b = 3.3
print("\nData type of a is ", type(a), "\nData type of b is: ", type(b))

Data type of a is  <class 'int'>
Data type of b is:  <class 'float'>

In [ ]:
# Task 3
name = input("Enter your name: ")
print("Hello ", name)

Enter your name: Abdullah Razzaq
Hello  Abdullah Razzaq

In [3]:
# Task 4
t = 'Hello World!'
print(t[2:5])
print(t*2)

llo
Hello World!Hello World!

In [5]:
# Task 5
list1 = ['physics', 'chemistry', 1997, 2000]
list1[2] = 2001
print(list1)
del list1[2]
print(list1)

['physics', 'chemistry', 2001, 2000]
['physics', 'chemistry', 2000]

In [7]:
# Task 6
list_data = ['abcd', 786, 2.23]
tuple_data = ('abcd', 786, 2.23)
list_data[0] = 1000
print("List after change:", list_data)
try:
    tuple_data[0] = 1000
except TypeError as e:
    print("Error caught:", e)
# The tuple data is mutable therefore we cannot change it

List after change: [1000, 786, 2.23]
Error caught: 'tuple' object does not support item assignment

In [8]:
# Task 7
tinydict = {
    'name': 'Ali',
    'code': 4501,
    'dept': 'Computer Science'
}
print(list(tinydict.keys()))

['name', 'code', 'dept']

In [10]:
# Task 8
amount = int(input("Enter amount: "))
if amount < 1000:
    discount = amount*0.05
    print("Discount",discount)
elif amount < 5000:
    discount = amount*0.10
    print("Discount",discount)
else:
    discount= amount*0.15
    print ("Discount",discount)
print ("Net payable:",amount-discount)

Enter amount: 3600
Discount 360.0
Net payable: 3240.0

In [11]:
# Task 9
count = 0
while (count < 9):
    print('The count is:', count)
    count = count + 1
print("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [12]:
# Task 10
def details(*numbers):
    print("Numbers passed:", numbers)
details(1, 2, 3)

Numbers passed: (1, 2, 3)